<form method="post" action="searchcollectiondef.php">
  <br></br>
   <input type="text" name="ricerca">Inserisci termine per le collezioni</input>
  
 
  
   <input type="submit" value="Invia">
</form>
