<form method="post" action="collectiondefcreator.php">
  <br></br>
   <input type="text" name="phaidraid">pid<br>
  <input type="text" name="phaidramember">collezione<br>
 
  
   <input type="submit" value="Invia">
</form>

