











<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<input type='text' class="codice2" name='codice2' id='codice2'/>
<button  onClick='mostra2(); return false;' class="button">Fai una ricerca</button>	

<script>
function mostra2() {
	var testo2= $('#codice2').val();
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo2+"";
	  
	  
	  
	$.getJSON(url, function(response){
		console.log(response.objects);
		
	
	$.each(response.objects, function(a,campo){
		 console.log(campo);
		 var myId = campo.PID.substring(2);
		  
		  
		  
		  		  
		  
	var myPid=campo.PID;
	var chiamata=$.getJSON("https://phaidra.cab.unipd.it/api/collection/"+myPid+"/members", function(res2){
			
			
			
					
			var field = res2.metadata.members;
			console.log(field);
			
		$.each(field, function(a,campo){
		console.log(campo.pid);
		 
	      	$("#prova").append(campo.pid);
			
		   

	   
			$.getJSON("https://phaidra.cab.unipd.it/api/object/"+campo.pid+"/index", function(rispostaindex){
			
			var campofinale=rispostaindex.index;
			console.log(campofinale.dc_title);
			
	$("#prova").append(campofinale.dc_title+"<div></div>");
			});
			
			
			
					
	
		 
		 		 
		 });
		 
		 					 			
		
	  });
	  
	 	  
	});
});


});





}
</script>

<div  id="prova"></div>