<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<input type='text' class="codice2" name='codice2' id='codice2'/>
<button  onClick='mostra2()' class="button">Fai una ricerca</button>
<select id="formsel">
    <option value="dc_title">testo 1</option>
    <option value="">testo 2</option>
    <option value="">testo 3</option>
</select>
<input type='text' id='input' />




<script>
function mostra2() {
	var testo= $('#codice2').val();
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo+"";
	  $.getJSON(url, function(response){
		console.log(response.objects);
		
	
		$.each(response.objects, function(a,campo){
		 console.log(campo);
		 var myId = campo.PID.substring(2);
		  
		  
		  
		  		  
		  
		 var myPid=campo.PID;
		 $.getJSON("https://phaidra.cab.unipd.it/api/object/"+myPid+"/index", function(res2){
			
			
			
			
			$.each(res2, function(a,field){
			
			
			console.log(field);
			var selectedText = $("#formsel option:selected").text()
		$(".prova").append(field.document.getElementById(".formsel").value);
		$(".prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/o:'+myId+'/methods/bdef:Asset/getThumbnail"></img></div><div id='+myId+' ></div><hr>');	
              

			  });
			 
			  
			
		
	  });
	  	  
	});
});

})

}
</script>


<div class="prova">