<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>






<input type='text' class="codice2" name='codice2' id='codice2'/>
<button  onClick='mostra1()' class="button">Index</button>
<button  onClick='mostra2()' class="button">Dublin Core</button>




<script>
function mostra1(index) {
	var testo= $('#codice2').val();
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo+"";
	  $.getJSON(url, function(response){
		console.log(response.objects);
		
	
		$.each(response.objects, function(a,campo){
		 console.log(campo);
		 var myId = campo.PID.substring(2);
		  
		  
		  
		  		  
		  
		 var myPid=campo.PID;
		$.getJSON("https://phaidra.cab.unipd.it/api/object/"+myPid+"/index", function(res2){
			
			
			
			
		$.each(res2, function(a,field){
			
			
			console.log(field);
		$(".prova").append(field.dc_title[0]+"<div></div>"+field.dc_description[0]+"<div></div>");
		$(".prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/o:'+myId+'/methods/bdef:Asset/getThumbnail"></img></div><div id='+myId+' ></div><hr>');	
              

			  });
			 
			  
			
		
	  });
	  	  
	});
});

})

}


function mostra2(dc) {
	var testo= $('#codice2').val();
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo+"";
	  $.getJSON(url, function(response){
		console.log(response.objects);
		
	
		$.each(response.objects, function(a,campo){
		 console.log(campo);
		 var myId = campo.PID.substring(2);
		  
		  
		  
		  		  
		  
		 var myPid=campo.PID;
		$.getJSON("https://phaidra.cab.unipd.it/api/object/"+myPid+"/dc", function(res2){
			
			
			
			
		$.each(res2.metadata.dc, function(a,field){
			$(".prova").append(field.ui_value+"<div></div>"+field.xmlname);
			
			console.log(field);
		
		      

			  });
			 
			$(".prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/o:'+myId+'/methods/bdef:Asset/getThumbnail"></img></div><div id='+myId+' ></div><hr>');	
         
			
		 
	  });
	  	  
	});
});

})

}

function mostra3(dc) {
	var testo= $('#codice2').val();
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo+"";
	  $.getJSON(url, function(response){
		console.log(response.objects);
		
	
		$.each(response.objects, function(a,campo){
		 console.log(campo);
		 var myId = campo.PID.substring(2);
		  
		  
		  
		  		  
		  
		 var myPid=campo.PID;
		$.getJSON("https://phaidra.cab.unipd.it/api/object/"+myPid+"/dc", function(res2){
			
			
			
			
		$.each(res2.metadata.dc, function(a,field){
			$(".prova").append(field.ui_value);
			
			console.log(field);
		
		      

			  });
			 
			$(".prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/o:'+myId+'/methods/bdef:Asset/getThumbnail"></img></div><div id='+myId+' ></div><hr>');	
         
			
		 
	  });
	  	  
	});
});

})

}




























</script>


<div class="prova">
<div class="prova2">