<!doctype html>
<meta charset="utf-8">
<script src="http://code.jquery.com/jquery-latest.min.js" ></script>
o:<input type='text' name='codice' id='codice'/><br />

<button  onClick='ricerca()' > 
		
		</a> </button><br />
<script> 


function ricerca(){




var testo= $('#codice').val();
	console.log(testo);







  
    $(function(){ 
    
	
            $.ajax({
                url: 'https://api.mlab.com/api/1/databases/phaidra/collections/index?q={%22$text%22:{%22$search%22:%22'+testo+'%22}}&apiKey=L6qWg_ywFMmEoU3k-rnZpAlKwIvhA1E1',
                type: 'get',
                dataType: 'json',
                jsonp: 'json'                                                                                   
            })
            .done(function(data) {
			
			
			d=JSON.stringify(data);
			$.each(data, function(a,lista){
		    console.log(lista.pid);
			
			
			$("#risultato").append("<hr></hr>");
			
			
			
			
			
			
			$("#risultato").append("<div></div>o:"+lista.pid);
			var url = "https://phaidra.cab.unipd.it/api/object/"+lista.pid+"/index";
			
			
			
			$.ajax({
            url: "https://phaidra.cab.unipd.it/api/object/"+lista.pid+"/index",
            type: "GET",
            dataType: "json",
			async: false,
            success: function (data) {			
			$.each(data, function(a,fede ){
		    console.log(data.index);
		    $("#risultato").append("<div></div>"+fede.dc_description);
			
			
            
            });	
            $("#risultato").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+lista.pid+'/methods/bdef:Asset/getThumbnail">');
			//$(".indici").append("<hr></hr>");
			}
            });		
			});
			
	
			});
				
			});
	
  
  

}; 
  </script>
  
  
  <div id="risultato"></div>
  
