<input type='text' class="codice2" name='codice2' id='codice2'/>
<button  onClick='mostra2(); return false;' class="button">Fai una ricerca</button>	
<input type="button"  value="Refresh page" onClick="window.location.reload()">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
 <script>
function mostra2() {
	var testo2= $('#codice2').val();
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo2+"";
	  $.getJSON(url, function(response){
		console.log(response.objects);
		
	
		$.each(response.objects, function(a,campo){
		 console.log(campo);
		 var myId = campo.PID.substring(2);		  
		 var myPid=campo.PID;
		 $.getJSON("https://phaidra.cab.unipd.it/api/object/"+myPid+"/index", function(res2){	
			var field = res2.index;
			var myData2 = '';
			console.log(field);
			myData2+="<hr></hr>"+field.dc_title[0]+field.dc_description[0];
			$("[name='wpcf-phaidra']").val(myData2);
			
$("#prova").append(myData2); 	
//$("#prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+myPid+'/methods/bdef:Asset/getThumbnail"></img></div>'); 	
	

//$("[name='wpcf-phaidraimage']").val('<img src="https://fc.cab.unipd.it/fedora/objects/'+myPid+'/methods/bdef:Asset/getThumbnail"></img>');

			 		
		
	  });
	  
	  
	  
	  
	  
	});
});


});

}
</script>
<div  id="prova"></div>
 