<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<input type='text' class="ricercamuseo" name='ricercamuseo' id='ricercamuseo'/>
<button  onClick='ricercainmuseo(); return false;' class="button">Ricerca</button>
</div>	



<select id="sceltamuseo">
<option value="bibfa">Biblioteca fisica e astronomia</option>
<option value="vallisneri">Vallisneri</option>
</select>

<script>
function ricercainmuseo() {
	var ricercamuseo= $('#ricercamuseo').val();
	console.log(ricercamuseo);
    var sceltamuseo=$('#sceltamuseo').val();
	$(document).ready(function(){
	  var urlx = "https://phaidra.cab.unipd.it/api/search/owner/"+sceltamuseo+"?q="+ricercamuseo+""
	      $.getJSON(urlx, function(responsex){
		  console.log(responsex.objects);
		  $.each(responsex.objects, function(ax,campox){
		  console.log("<strong>"+campox['PID']+"</strong>"+"<hr></hr>");
		  console.log("<it>"+campox['uw.general.description']+"</it>");
		  $("#dc").append("<strong>"+campox['PID']+"</strong>"+"<hr></hr>");
		  $("#dc").append("<it>"+campox['uw.general.description']+"</it>");
		  $("#dc").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Asset/getThumbnail">');
         });
		 });
		 });
		 }
</script>

<div id="dc"></div>