
<script src="http://code.jquery.com/jquery-latest.min.js" ></script>
<script>
 $.ajax({
                    type: "POST",
                    url: "https://api.mlab.com/api/1/databases/phaidra/collections/index?apiKey=L6qWg_ywFMmEoU3k-rnZpAlKwIvhA1E1",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",                        
                    success: function (response) {

                        console.log("success");
                    },
                    error: function (response){

                        console.log("failed");
                    }
                });
				
				
	</script>
	