<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<input type='text' class="ricercamuseo" name='ricercamuseo' id='ricercamuseo'/>
<button  onClick='ricercainmuseo(); return false;' class="button">Ricerca</button>
</div>	




<script>
function ricercainmuseo() {
	var testo2= $('#ricercamuseo').val();	
	$(document).ready(function(){
	  var urlx = "https://phaidra.cab.unipd.it/api/search/owner/bibfa?q="+testo2+""
	      $.getJSON(urlx, function(responsex){
		  console.log(responsex.objects);
		  $.each(responsex.objects, function(ax,campox){
		  console.log("<strong>"+campox['PID']+"</strong>"+"<hr></hr>");
		  console.log("<it>"+campox['uw.general.description']+"</it>");
		  
		  var myData = '';

		     


         //myData+="<br></br><img src=https://fc.cab.unipd.it/fedora/objects/"+myPid+"/methods/bdef:Asset/getThumbnail>"
		 
         myData+=campox['PID'];
		 myData+=campox['uw.general.description'];	
		 myData+='<div><img src="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Asset/getThumbnail">'
	     console.log(myData);
		  
		  	  
		  
		  
		  $("#dc").append(myData);
	
		 
		  
		 
         });
		 });
		 });
		 }
</script>

<div id="dc"></div>