<form method="post" action="prova2.php">
  <br></br>
   <input type="text" name="pid">pid<br>
  <input type="text" name="phaidramember">collection<br>
 
  
   <input type="submit" value="Invia">
</form>

