<form method="post"  action="select.php">
<input type="text" name="nome">Cerca in PHAIDRA<br>

<select name="select">
  
  <option value="collections2">UWmetadata<option>
  <option value="collections">DC</option>
</select>



  <input type="submit" value="Invia">
</form>