<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<input type='text' class="ricercamuseo" name='ricercamuseo' id='ricercamuseo'/>



<select id="scelta">
<option value="bibfa">Biblioteca fisica e astronomia</option>
<option value="museo.botanico">museo botanico</option>
</select>
<button  onClick='ricercainmuseo(); return false;' class="button">Ricerca</button>
<button  onClick='remove()' class="button">Refresh</button>
<script>
function ricercainmuseo() {
	var testo2= $('#ricercamuseo').val();
    var testo3=	$('#scelta').val();	
	$(document).ready(function(){
	  var urlx = "https://phaidra.cab.unipd.it/api/search/owner/"+testo3+"?q="+testo2+""
	      $.getJSON(urlx, function(responsex){
		  console.log(responsex.objects);
		  $.each(responsex.objects, function(ax,campox){
		  console.log("<strong>"+campox['fgs.contentModel']+"</strong>"+"<hr></hr>");
		 // console.log("<it>"+campox['uw.general.description']+"</it>");
		              
			//ajax		  
			
$.ajax({
		                                 url: "https://phaidra.cab.unipd.it/api/collection/"+campox["PID"]+"/members",
                                         type: "GET",
                                         dataType: "json",
		                               	 async: false,		
			                             success: function (data) {
						                        $.each(data.metadata.members, function(b, datab){
				                                console.log(datab.pid)
												
											    $("#dcx").append(datab.pid);




												
												
												

$.ajax({
		                                 url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
                                         type: "GET",
                                         dataType: "json",
		                               	 async: false,		
			                             success: function (datal) {
                                         console.log(datal.index.dc_title);
										 	$("#dcx").append(datal.index.dc_title+'<br></br>');	
											$("#dcx").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+datab.pid+'/methods/bdef:Asset/getThumbnail">');
										 
										 
}
 });







												
											     
});
}
 });
 
 


												 
												 
												 
												 		 
		
		 
		 
		 
		 
		 /*
		 var urlcol="https://phaidra.cab.unipd.it/api/collection/"+campox["PID"]+"/members";
		 
		 
		 $.getJSON(urlcol, function(responsecol){
		  console.log(responsecol.metadata.members);
		  $.each(responsecol.metadata.members, function(s,campos){
		  console.log("<strong>"+campos.pid+"</strong>"+"<hr></hr>");
		 $("#dcx").append(campos.pid);




		 });
		  });
		  
		  
		  
		  */
		 
		 
		 var myDatax = '';		 
        
		 myDatax+=campox['PID']+'<br><br>';
		 myDatax+='<img src="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Asset/getThumbnail">';
		 //myDatax+='Tipo di oggetto:<strong>'+campox['fgs.contentModel']+'</strong><br><br>';	
		 
	     myDatax+='<i>'+campox['uw.general.description']+'</i><hr></hr>';
		 


	   
		  
		  	  
		  
		  
		  $("#dcx").append(myDatax);
	
		 
		  
		 
         });
		 });
		 });
		 }
		 
		 
		 
		 
		function remove(){
    $(document).ready(function(){
    $("button").click(function(){
    $("#dc").empty();
    });
	});
	}; 
		 
		 
		 
		 
		 
		 
</script>
<div id="dcx"></div>