<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<input type='text' class="cercacollezione" name='cercacollezione' id='cercacollezione'/>
<button  onClick='ricercainmuseo(); return false;' class="button">Ricerca</button>

<script>




function ricercainmuseo() {
	var cercacollezione= $('#cercacollezione').val();
  	$(document).ready(function(){
	  var urlx = "https://phaidra.cab.unipd.it/api/collection/"+cercacollezione+"/members";
	      $.getJSON(urlx, function(responsex){
		  console.log(responsex.metadata.members);
		  $.each(responsex.metadata.members, function(ax,campox){
		  console.log("<strong>"+campox.pid+"</strong>");
		                               $("#append").append("("+campox.pid+")");
									             
								
$.ajax({
		                                 url: "https://phaidra.cab.unipd.it/api/object/"+campox.pid+"/index",
                                         type: "GET",
                                         dataType: "json",
		                               	 async: false,		
			                             success: function (datajj) {
                                         console.log(datajj.index.dc_title);
										 	$("#append").append(datajj.index.dc_title+'<br></br>');	
											
										 
}
});	



								
												


												
												
									   
		
							 
		                                

				   
		  
		// prima sottocollezione	
$.ajax({
		                                 url: "https://phaidra.cab.unipd.it/api/collection/"+campox.pid+"/members",
                                         type: "GET",
                                         dataType: "json",
		                               	 async: false,		
			                             success: function (data) {
										 
										 
										 
						                        $.each(data.metadata.members, function(b, datab){
				                                 console.log(datab.pid);
												       $("#append").append('<br></br>(('+datab.pid+'))<br></br>');
											   




          // seconda  sottocollezione
$.ajax({
		                                 url: "https://phaidra.cab.unipd.it/api/collection/"+datab.pid+"/members",
                                         type: "GET",
                                         dataType: "json",
		                               	 async: false,		
			                             success: function (datal) {
										          $.each(datal.metadata.members, function(c, datac){
                                                  console.log(datac);
										          $("#append").append('<br></br>['+datac.pid+']<br></br>');	
												  



             // terza sottocollezione
$.ajax({
		                                 url: "https://phaidra.cab.unipd.it/api/collection/"+datac.pid+"/members",
                                         type: "GET",
                                         dataType: "json",
		                               	 async: false,		
			                             success: function (datac) {
										          $.each(datac.metadata.members, function(d, datad){
                                                  console.log(datad);
										          $("#append").append("{"+datad.pid+"}");
												            //modulo ricerca ggetti (si puo spostare nelle varie sottocollezioni
															
															
															
															
															
															
															
															
															
	//modulo scaricamento dati oggetti , si mantiene fisso, posso spostarlo nei vari ajax di collection, cambiando ovviamente il datad.pid														







	
															
	// termine modulo scaricamento dati oggetti														
															
				  
														  
												  
});
}															     
});											  
												  
												  																		  
});
}															     
});

 
});
}
});










});
});
});
};
 
												 
												 
															

	
		
		  
		  
	
		 



	   
		  
		  	  
		  
		  
		
		 
		 
		 
		function remove(){
    $(document).ready(function(){
    $("button").click(function(){
    $("#dc").empty();
    });
	});
	}; 
		 
		 
		 
		 
		 
		 
</script>
<div id="append"></div>