
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>  
   <input type='text' name='codice' id='codice'/><br />

<button onClick='mostra()'> 
  <a class="vmuseumlogo-logo"  title="vmuseum - Code Searcher"><img src="http://testcab.openview.it/logovictoria.PNG" height ="130" width="70" alt="Phaidra - Collezioni digitali"></a>
		 </button><br />  
   
   
   
   
   <script>
     
     function mostra() {
	var testo= $('#codice').val();
	console.log(testo); 
     
     
   $(document).ready(function(){
	   var url = "https://collections.museumvictoria.com.au/api/items/"+testo+"";
	  $.getJSON(url, function(response){
            console.log(response.objectName);
        
		  $(".dc").append(response.objectName);
         
         });
        
        });
     }

    	

   </script>


<div class="dc"></div>
  
  